{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "@": "./app/modules",
        },
        "extensions": [".ios.js", ".android.js", ".js", ".json"]
      }
    ]
  ]
}
